#one{
    background-image: url("./assets/backgrounds/h_img.jpg");
    width:100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    font-size: 17px;
    color: white;
}
.one{
    padding-top:30px;
}
.two p{
    text-align: center;
    font-size: 20px;
}
h2{
    text-align: center;
}
.three{
    background-image: url("./assets/backgrounds/s_image.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.three{
    padding-top: 100px;
}